{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}

<div id="messageContainer">
    {% for message in messages %}
    <div class="message {% if request.user == message.author %}message-right{% else %}message-left{% endif %}">
        <!-- <span>{{ request.user.id }}</span>
        <span>{{ request.user.get_username }}</span>
        <span>{{ message.author }}</span> -->
        <span>{{ message.text }}</span>
        <!-- <span class="">[{{ message.created_at }}]</span> -->
        <span class="time">{{ message.created_at_time }}</span>
    </div>
    {% endfor %}
</div>

<!-- <script src="../../../static/js/script.js"></script> -->

<form id="chatField" onsubmit="sendMessage(); return false" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
        <label class="mdl-textfield__label" for="messageField">Nachricht..</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Abschicken
    </button>
</form>

<script>
    let token = "{{ csrf_token }}";
</script>

{% else %}
<h1>Nicht eingeloggt</h1>
<p>
    Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br>
    Bitte klicke <a href="/login/">hier</a>
</p>
{% endif %}
{% endblock %}