.page-content {
    padding: 100px 100px;
}

.color-gray {
    color: rgba(0, 0, 0, 0.4);
}

.login-inputs {
    display: flex;
    flex-direction: column;
}

.register-text {
    margin: 0;
    margin-top: 20px;
}